<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} is {{ type }}!
  </h1>
<p>
    I will give {{ score }} out of 10
</p>
<p>
  1 + 1 = {{1+1}}
</p>
<p>
  {{displaymessage()}}
</p>
</div>
Singlepage Application
<hr>
<a routerLink="family">Family</a>&nbsp;
<a routerLink="review">Review</a>&nbsp;
<a routerLink="pipes">Pipes</a>&nbsp;
<a routerLink="consume">Consume Services</a>&nbsp;
<a routerLink="template">Template Form</a>&nbsp;
<a routerLink="reactive">Reactive Form</a>&nbsp;
<a routerLink="animate">Animation Form</a>&nbsp;
<a routerLink="remote">RestAPI Form</a>
<hr>
<!-- <div>
  <br>
  Working with parent and child components
  <div> <app-family></app-family></div>
  Working with Review components
   
  <div class="review"> <app-review></app-review></div>
</div>
<hr>
<div>
  <h2><b>Examples of directives(they convert your html to super html)</b></h2>
  <ol>
    <li>*ngFor--Forloop</li>
    <li>*nglf--if condition</li>
    <li>*ngSwitch -- forswitch case</li>
  </ol>
  demo:
  <app-directive></app-directive>
</div> -->

<router-outlet></router-outlet>
